name: Transient

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-transient:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv with Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras

      - name: Run tests
        run: uv run pytest --cov-append ./tests/transient

      - name: Test userguide notebooks
        run: |
          uv run pytest --nbval-lax --cov-append --dist loadscope -n auto docs/transient/00userguide/howtos/
          uv run pytest --nbval-lax --cov-append --dist loadscope -n auto docs/transient/00userguide/tutorials/
      - name: Test example notebooks
        run: |
          uv run pytest --nbval-lax --cov-append --dist loadscope -n auto docs/transient/02examples/

      - name: Test xsection notebooks
        run: |
          uv run pytest --nbval-lax --cov-append --dist loadscope -n auto docs/transient/03xsections/

      - name: Test benchmark notebooks
        run: |
          uv run pytest --nbval-lax --cov-append --dist loadscope -n auto --ignore=docs/transient/05benchmarks/besselnumbanew_timing.ipynb docs/transient/05benchmarks/
